.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    margin: 0 auto;
  }

  .contact-info input {
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-bottom: .5rem;
}

.contact-info button {
    padding: .75rem;
    background-color: #212934;
    color: white;
    border: none;
    border-radius: .25rem;
}